.weatherBG{
    background-image: url(./weather-bg.jpg);
    background-size: cover;
    background-position: center center;
    width: 100;
    height: 100vh;
}

input.form-control {
    height: 50px;
}

button.btn.btn-primary {
    width: 100px;
}